
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

th , td{
  text-align: center;
}

#wallet-content select[name=wallets-list_length], #currencies-rate-table_length select[name=currencies-rate-table_length] {
  float: left;
}

#currencies-rate-table{
  margin: 10px 0;
}